a.contact-link:link {
    color: transparent;
}

a.contact-link:visited {
    color: transparent;
}

a.contact-link:hover {
    color: transparent;
}

a.contact-link:active {
    color: transparent;
}