/** Chrome*/
input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 1px;
    background: #767676;
    margin: 9px 0;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px solid black;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: white;
    margin-top: -10px;
}

input[type=range]:focus {
    outline: none;
}

/** FF*/
input[type="range"]::-moz-range-progress {
    background-color: #767676;
}
input[type="range"]::-moz-range-track {
    background-color: #767676;
}
input[type=range]::-moz-range-thumb {
    border: 2px solid black;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: white;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
    background-color: #767676;
}
input[type="range"]::-ms-fill-upper {
    background-color: #767676;
}