input[type=range].admin-slider  {
    width: 100%;
    margin: 11.5px 0;
    background-color: transparent;
    -webkit-appearance: none;
}

input[type=range].admin-slider:focus {
    outline: none;
}

input[type=range].admin-slider::-webkit-slider-runnable-track {
    background: #d1d1d1;
    border: 0;
    width: 100%;
    height: 1px;
    cursor: default;
}

input[type=range].admin-slider::-webkit-slider-thumb {
    margin-top: -11.5px;
    width: 24px;
    height: 24px;
    background: #1597ff;
    border-radius: 12px;
    cursor: default;
    -webkit-appearance: none;
}

input[type=range].admin-slider:focus::-webkit-slider-runnable-track {
    background: #d1d1d1;
}

input[type=range].admin-slider::-moz-range-track {
    background: #d1d1d1;
    border: 0;
    width: 100%;
    height: 1px;
    cursor: default;
}

input[type=range].admin-slider::-moz-range-thumb {
    width: 24px;
    height: 24px;
    background: #1597ff;
    border-radius: 12px;
    cursor: default;
}

input[type=range].admin-slider::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 12px 0;
    color: transparent;
    width: 100%;
    height: 1px;
    cursor: default;
}

input[type=range].admin-slider::-ms-fill-lower {
    background: #d1d1d1;
    border: 0;
}

input[type=range].admin-slider::-ms-fill-upper {
    background: #d1d1d1;
    border: 0;
}

input[type=range].admin-slider::-ms-thumb {
    width: 24px;
    height: 24px;
    background: #1597ff;
    border-radius: 12px;
    cursor: default;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
}

input[type=range].admin-slider:focus::-ms-fill-lower {
    background: #d1d1d1;
}

input[type=range].admin-slider:focus::-ms-fill-upper {
    background: #d1d1d1;
}

/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range].admin-slider {
        margin: 0;
        /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
}
