/** Chrome*/
input[type=range].public-slider {
    -webkit-appearance: none;
}

input[type=range].public-slider::-webkit-slider-runnable-track {
    height: 1px;
    background: #767676;
    margin: 10.5px 0;
}

input[type=range].public-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px solid black;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: white;
    margin-top: -10px;
}

input[type=range].public-slider:focus {
    outline: none;
}

/** FF*/
input[type="range"].public-slider::-moz-range-track {
    background-color: #767676;
    height: 1px;
}

input[type=range].public-slider::-moz-range-thumb {
    border: 2px solid black;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: white;
}

/* IE*/
input[type="range"].public-slider::-ms-fill-lower {
    background-color: #767676;
}

input[type="range"].public-slider::-ms-fill-upper {
    background-color: #767676;
}